<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	<typeAliases>
		<typeAlias type="com.golflearn.dto.UserInfo" alias="UserInfo"/> 
		<typeAlias type="com.golflearn.dto.ProInfo" alias="ProInfo"/> 
		<typeAlias type="com.golflearn.dto.Payment" alias="Payment"/> 
		<typeAlias type="com.golflearn.dto.SignupApproval" alias="SignupApproval"/> 
	</typeAliases>
 
  <mappers>
  	<mapper resource="mybatisConf/UserInfoMapper.xml"/>
  </mappers>
</configuration>