h2{
    text-align: center;
    height : 50px;
    margin-top: 30px;
    color: rgb(113, 139, 255);
} 
section{
    width:100%;
}
.table{
    width:100%;
}
.tr{
    width:100%;
}
.td{
    width:100%;
}
.content{
    height: 300px;
}
.middle{
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    align-items: flex-start;
    text-align: center;
    height: 250px;
    width: 1260px;
    margin: 0 auto;
    border-bottom: 1px solid #64DB99;
    padding: 20px 0;
    margin-bottom: 20px;
    /* cursor: pointer;  */
    border : none;
    align-items: center;
    background-color: #fafaea;
    border-radius: 10px;
}
.middle > img{
    width : 150px;
    height : 150px;
    object-fit: contain;
}
.mypage-header{
    width : 100%;
}
.mypage-header__bar{
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    align-items: flex-start;
    text-align: center;
    height: 10px;
    width: 1260px;
    margin: 0 auto;
    border-bottom: 1px solid #64DB99;
    padding: 20px 0;
    margin-bottom: 20px;
    /* cursor: pointer;  */
    border : none;
    align-items: center;
    background-color: rgb(250, 243, 233);
    border-radius: 10px;
    /* font-size : 20px; */
}
.middle > .no{
    width: 100px;
}
.middle > .lsn__image{
    width: 300px;
}
.middle > .title{
    width: 300px;
}
.middle > .exp_dt{
    width: 200px;
}
.cnt{
    display: flex;
    margin-right: 55px;
    margin-left: 35px;
}
.middle > .cnt > .current__cnt{
    width: 10px;
}
.middle > .cnt > .bar{
    width: 10px;
}
.middle > .cnt > .total__cnt{
    width: 10px;
}
.middle > .add_review{
    border: 1px solid;
    width : 100px;
    height : 30px;
    margin-right: 10px;
    border-radius: 5px;
    background-color: #fcde9f;
    border:none;
}
.middle > .modify_review{
    border: 1px solid;
    width : 100px;
    height : 30px;
    margin-right: 10px;
    border-radius: 5px;
    background-color: #fcde9f;
    border:none;
}
.middle > .cancel_lsn{
    border: 1px solid;
    width : 100px;
    height : 30px;
    margin-right: 10px;
    border-radius: 5px;
    background-color: #fcde9f;
    border:none;
}

.mypage-header__bar > p.no{
    width: 100px;
}
.mypage-header__bar > p.img{
    width: 300px;
}
.mypage-header__bar > p.title{
    width: 300px;
}
.mypage-header__bar > p.exp_dt{
    width: 200px;
}
.mypage-header__bar > p.current__cnt{
    width: 100px;
}
.mypage-header__bar > p.add_review{
    width: 110px;
}
.mypage-header__bar > p.modify_review{
    width: 110px;
}
.mypage-header__bar > p.cancel_lsn{
    width: 110px;
}