* {
    box-sizing: border-box;
}


button.submit-board__button{
        background-color: white;
        width: 5%;
        height: 50px;
        margin-right: 110px;
        border: 2px solid rgb(183, 231, 199);
        border-radius: 23px;
        letter-spacing: 5px;
        font-weight: 300;
        font-size: medium;
        cursor: pointer;
        min-width: 10%;
        padding-bottom: 10px;
}

button.submit-board__button:hover {
    background-color: rgb(183, 231, 199);
}
